body {
	background-color:#a5004d;
	background-image: -moz-radial-gradient(center center, circle cover, #ff0080 45%, #a5004d 75%);
	background-image: -webkit-radial-gradient(center center, circle cover, #ff0080 45%, #a5004d 75%);
	background-image: -o-radial-gradient(center center, circle cover, #ff0080 45%, #a5004d 75%);
	background-image: -ms-radial-gradient(center center, circle cover, #ff0080 45%, #a5004d 75%);
	background-image: radial-gradient(center center, circle cover, #ff0080 45%, #a5004d 75%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFF;
	font-family: Arial, Sans-Serif;
	line-height:1;
	height:auto;
}
a {color:#FFF;}
/* --------| login|--------- */
ul, ol, li{list-style:none;}

.ssBox{ padding:10px 0px 0px 40px; margin-left:-10px}
.ssBox ul { padding:0 0 0 25px; font-size:14px;}
.ssBox li { margin-bottom:14px; color:#000;}

/* --------RegWindow--------- */
.RegWindow {
	background-color:#EEE;
	color:#333;
	padding:12px;
	background:#FFF;
	color:#c02680;
	padding:15px 20px 25px 45px;
	width:300px;
}
.RegWindow label {
	display: inline-block;
	width: 80px;
	text-align:right;
	font-size: 14px;
	font-weight: 600;
	padding: 0 10px 5px 0;
}
.RegWindow input {
	width: 150px;
	font-size: 12px;
	font-weight: 600;
	border: 1px solid #CCC;
	padding: 5px;
}
.RegWindow button {
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	background: #c02680;
	border: 0px;
	color: #FFF;
	font-weight: 600;
	font-size: 16px;
	text-shadow: 0px 0px 1px #000;
	padding: 10px 20px;
	margin-left: 96px;
	margin-top: 10px;
}
.RegWindow h1 {
	font-size: 16px;
	color: #3b3b3b;
	padding: 10px 0px 15px 10px;
}

#login {text-align: right;}
#login a {
	font-size: 11px;
	text-decoration: none;
	padding-right: 10px;
	background: url(../img/arrowdown.gif) center right no-repeat;
}
#container, #login {
	width: 960px;
	margin: 10px auto;
	position: relative;
}
#content {
	width: 920px;
	padding: 20px;
	background: #FFF;
	color: #4e4d4d;
}
/****** Top Content ******/
#topContent {
	position: relative;
	height:468px;
	background:#000 url('../img/inner_background_new.jpg') 0 0 no-repeat;
}
.country-HK #topContent {background-image:url(../img/inner_background_new_japanese.jpg);}
/******* Banner on the left *******/
#banner {
	position: relative;
	background: #FFF;
	width: 360px;
	padding: 10px 0 0;
	left: 25px;
}
#banner #logo {
	position: relative;
	text-align: center;
}
#banner #logo #tagline {
	display:block;
	font:bold 13px Helvetica,Arial,sans-serif;
}

#banner #logo #tagline {
	font:16px Helvetica,Arial,sans-serif;
	color:#000;
	text-align:right;
	margin-top:-5px;
	margin-right:30px;
}

#banner #logo #tagline_alt {
	font:20px Helvetica,Arial,sans-serif;
	display:block;
	color:#000;
	text-align:right;
	margin-right:40px;
}


#banner #logo #logoimg, html.ie #banner #logo #logoimg {
	display:inline-block;
	background:url('../img/logo_large.gif') no-repeat 0 0;
	width:322px;
	height:113px;
	margin:0 auto;
}
#banner #holidayicon {
	display:none;
	position:absolute;
}

#banner h1 {
	font-size: 27px;
	font-weight: 100;
	margin: 0 0 15px 0;
	display:none;
}

#banner h1 em {
	font-weight: 600;
	font-style: normal;
	color: #c02680;
}
#discount {
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #4c4c4c 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	text-align:center;
	color:#fff;
}
#discount strong {color:#ffef3f;}
#discount h3 {font-size:24px;padding:8px 0 6px;margin:0;font-weight:400;}
#discount h4 {font-weight:500;font-size:12px;padding:0;margin:0;}
#membersOnline {
	display:block;
	width:360px;
	margin:20px 0;
	left:25px;
	position:relative;
	text-align:center;
	font:16px Helvetica,Arial,sans-serif;
	color:#fff;
}
#membersOnline strong {color:#c02680;}
#banner #signupform {
	padding: 20px 5px;
	margin: 15px 0 0 0;
	background:#fcf6f9;
	border-top:1px solid #efeaec;
	text-align:center;
}
#banner label {
	display: inline-block;
	width: 90px;
	text-align:right;
	font-size: 14px;
	padding: 0 5px 5px 0;
	color: #3b3b3b;
	font-weight: 600;
}

#banner input, select {
	width: 150px;
	font-size: 12px;
	font-weight: 600;
	border: 1px solid #CCC;
	padding: 5px;
	margin-bottom: 5px;
}
#banner select {width:162px;}
#banner #seeking.one select {
	font-size:14px;
	width:265px;
	height:30px;
}

#banner #get-started {
	font-size:13px;
	margin:0 0 15px;
}
#banner button {
	outline: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	padding: 10px 40px;
	margin-top: 15px;
	width: 265px;
	border: 0;
	text-shadow: 0 0px 1px rgba(0,0,0,1);
	background: #c02680;
}

/**** Bottom Content***/
#bottomContent {
	position:relative;
	width:920px;
	height:102px;
	text-align:right;
}
.country-IT #bottomContent { height: 107px; }

.badge {
	margin: 25px 30px 0 0;
	font-size:0;
	float: left;
}

.badge.large, body.country-AT .badge.large, body.country-CH .badge.large, body.country-DE .badge.large {
	padding:0;
	margin:0;
	font-size:18px;
	float:left;
}

#container .badge.right {margin-right:0px;}

.badge em {
	font-weight: 600;
	font-style: normal;
	color: #c02680;
}
.badge .onehundredpercent {
	background:url('../img/100percent.jpg') no-repeat 0 0 transparent;
	float: left;
	width: 114px;
	height: 113px;
}
.badge .idealgasm{
	background:url('../imgidealgasm_offer.png') no-repeat 0 0 transparent;
	float: left;
	width: 169px;
	height: 171px;
	margin-top: -50px;
}
.badge .fleshlight{
	background:url('../imgfleshlight_offer.png') no-repeat 0 0 transparent;
	float: left;
	width: 157px;
	height: 143px;
	margin-top: -32px;
}
.onehundredpercent_number{
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 25px;
	margin-top: 32px;
	text-align: center;
	color: white;
}
.onehundredpercent_text{
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	padding: 0 19px 0 14px;
	color: white;
}

.badge .textOutlets {
	margin:40px 0 0 129px;
	width:auto;
	color:#4e4d4d;
	font:15px Helvetica,Arial,sans-serif;
	margin:0;
	display:inline;
	text-align:left;
}

.badge .outlets {
	width:180px;
	display:block;
	float:left;
	text-align:left;
	padding: 6px 0 0 4px;
	font:15px Helvetica,Arial,sans-serif;
	color:#4e4d4d;
	margin:15px 25px 0 20px;
}

.badge .agegate_special{
	margin-right:0px !important;
}
.badge.agegate_special{
	margin-left:0px !important;
}

.badge .outlets em {
	font-size:15px;
	display:inline;
}

.lang-zh_HK .badge .outlets,
.lang-zh_HK .badge .description,
.lang-zh_HK #content .badge.trusted,
.lang-zh_HK #content .badge.discreet {padding-right: 15px;}

.badge .description {
	display:block;
	float:left;
	width:180px;
	font:15px Helvetica,Arial,sans-serif;
	color:#4e4d4d;
	margin-top:15px;
	text-align:left;
}

.badge.trusted {
	background:url('trusted_security.jpg') no-repeat 0 0;
	width: 92px;
	height: 48px;
	margin-left: 20px;
}

.badge.discreet {
	background:url('discreet_seal.jpg') no-repeat 0 0;
	width: 80px;
	height: 59px;
}

.badge.ssl {
	background:url('ssl_badge.jpg') no-repeat 0 0;
	width: 97px;
	height: 51px;
}

.badge.platz {
	background:url('Platz.gif') no-repeat 0 0;
	width: 53px;
	height: 55px;
	display:none;
}

#content .badge.ssl {
	display:inline-block;
	vertical-align:top;
	background-image:url('../img/badge_ssl.gif');
	font-size:18px;
	height:69px;
	padding:5px 0 0 68px;
	margin-top:25px;
	color:#646262;
	font:bold 16px Helvetica,Arial,sans-serif;
	width:auto;
	text-align:left;
}

#content .badge.ssl span {color:#a0254a;}
#content .badge.trusted {
	display:inline-block;
	vertical-align:top;
	background-image:url('../img/badge_trusted.gif');
	height:58px;
	padding-left:48px;
	margin-top:29px;
	color:#7F3762;
	font:16px Georgia,'Times New Roman',serif;
	width:auto;
	text-align:left;
}

#content .badge.trusted span {color:#c77aa6;}
#content .badge.discreet {
	display:inline-block;
	vertical-align:top;
}
#content .badge.platz {
	display:none;
	vertical-align:top;
	background-image:url('../img/badge_platz.png');
	width:88px;
	height:88px;
	margin-top:12px;
}

/** Footer **/
#footer {
	float:left;
	text-align: center;
	width: 960px;
	line-height:15px;
}
#footer a {
	color: #fff;
	text-decoration:none;
	font-weight:bold;
	margin:0 5px;
}
#footer a:hover {text-decoration:underline;}
#footer #sitemap { font-size: 8px; }
#locationLanguage {
	margin:10px 0;
	position:relative;
	font:12px/15px Arial,Helvetica,sans-serif;
}

#footer #locationChange, #footer #languageChange {color:#fff;}


#description {
	text-align: center;
	font-size: 11px;
	line-height: 15px;
	margin: 10px 0px;
	color: #fff;
}
body.lang-es_ES #description {font-size:10px;}
body.country-CH #description, body.country-AT #description, body.country-DE #description {font-size:9px;}
#copyright {
	font-size: 12px;
	font-weight: bold;
}

#footer-nav, #social-nav {
	font-size: 12px;
	line-height: 18px;
	margin: 10px 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

#bouncingArrow {
	position: absolute;
	display: none;
	opacity: 0;
}
#signupform select:first-child {
	outline:none;
}
#signupform #seeking {
	display: inline-block;
	height: 30px;
	-webkit-border-radius: 6px;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
.ie7 #signupform #seeking {
	height: 22px;
}

.block-inline {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}